name: Deploy Laravel (Local) with Docker Compose

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy (docker compose)
        shell: powershell
        run: |
          $ErrorActionPreference = "Stop"

          cd "$env:GITHUB_WORKSPACE\laravel-app"

          git pull

          docker compose down
          docker compose up -d --build

          docker compose exec -T laravel.test php artisan migrate --force
