name: Deploy Laravel Sail (Local)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy with Sail
        shell: powershell
        run: |
          $ErrorActionPreference = "Stop"

          cd $env:GITHUB_WORKSPACE\laravel-app

          git pull

          .\vendor\bin\sail down
          .\vendor\bin\sail up -d --build
          .\vendor\bin\sail artisan migrate --force
